.bg{
    width: 100%;
    padding-bottom: 40px;
    background: whitesmoke;
    height: fit-content;
}

.form-container{
  position: relative;
  top: 2vh;
  bottom: 2vh;
  width: 100%;
  background: #FFF;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #000;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

tr {
  border: 2px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 8px;
  border: 1px solid black;
}
.card-body {
    white-space: pre-line;
    height: 300px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.form-container {
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}