# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
/target/
/.idea/

/nuxmv
src/main/java/META-INF/MANIFEST.MF
src/test/java/recipe/.DS_Store
src/test/java/recipe/lang/.DS_Store
out.txt
out.svg
out.png
out.html
abs
commands.txt
dependency-reduced-pom.xml
example-script.smv
example.dot
examples/translation.smv
examples/translation2.smv
forInteraction.smv
forInteraction1.smv
forSimulation.smv
*.smv
*.xml
examples/translation.smv
examples/translation.smv
*.smv
